<!DOCTYPE html>
<html>

<head>
    <% include static/header %>
</head>

<body>
    <% include static/menu %>
        <div class="container-fluid bg-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Management</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col col-sm-4">
                    <h2 class="h2Title">
                        <%= page %>
                    </h2>
                    <div class="btnAddBike">
                        <a class="btn btn-outline-dark btn-sm" href="/register-bike" role="button">Register new bike</a>
                    </div>
                </div>
            </div>
            <br>
            <% if (bikes.length > 0) { %>
            <div class="row justify-content-center">
                <table class="mng-table table table-sm table-striped table-hover w-75">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Make</th>
                            <th scope="col">Model</th>
                            <th scope="col">Frame</th>
                            <th class="d-flex justify-content-end" scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% id=1; for(var i=0; i < bikes.length; i++) { %>
                            <tr>
                                <th scope="row">
                                    <%= id++ %>
                                </th>
                                <td>
                                    <%= encodeURIComponent(bikes[i][2]) %>
                                </td>
                                <td>
                                    <%= encodeURIComponent(bikes[i][3]) %>
                                </td>
                                <td>
                                    <%= encodeURIComponent(bikes[i][4]) %>
                                </td>
                                <td class="d-flex justify-content-end">
                                    <form action="/show-details" method="get">
                                        <input type="hidden" name="bike_id" value="<%= bikes[i][0] %>">
                                        <div class="float-start">
                                            <button class="btn btn-outline-secondary btn-sm" style="margin-bottom: 5px;"
                                                type="submit" data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Show details" alt="Show details"><i
                                                    class="bi bi-card-text"></i></button>
                                        </div>
                                    </form>
                                    <form action="/add-details" method="get">
                                        <input type="hidden" name="bike_id" value="<%= bikes[i][0] %>">
                                        <div class="float-start">
                                            <button class="btn btn-outline-secondary btn-sm" style="margin-bottom: 5px;"
                                                type="submit" data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Add details" alt="Add details"><i
                                                    class="bi bi-plus-square"></i></button>
                                        </div>
                                    </form>
                                    <form action="/transfer-ownership" method="get">
                                        <input type="hidden" name="bike_id" value="<%= bikes[i][0] %>">
                                        <div class="float-start">
                                            <button class="btn btn-outline-secondary btn-sm" style="margin-bottom: 5px;"
                                                type="submit" data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Transfer ownership" alt="Transfer ownership"><i
                                                    class="bi bi-arrow-return-right"></i></button>
                                        </div>
                                    </form>
                                    <form action="/renounce-ownership" method="get">
                                        <input type="hidden" name="bike_id" value="<%= bikes[i][0] %>">
                                        <div class="float-start">
                                            <button class="btn btn-outline-danger btn-sm" style="margin-bottom: 5px;"
                                                type="submit" data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Renounce ownership" alt="Renounce ownership"><i
                                                    class="bi bi-file-excel"></i></button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        <% } %>
        </div>
        <br><br>
        <% include static/footer %>
</body>
<% include static/scripts %>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</html>