<!DOCTYPE html>
<html>

<head>
    <% include static/header %>
</head>

<body>
    <% include static/menu %>
        <div class="container-fluid bg-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Management</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col col-sm-4">
                    <h2 class="h2Title">
                        <%= page %>
                    </h2>
                    <div class="btnAddBike">
                        <a class="btn btn-outline-dark btn-sm" href="/register-bike" role="button">Register new bike</a>
                    </div>
                </div>
            </div>
            <br>
            <!-- 
        struct bikeDetails 
        {
        uint256 bikeID;
        uint256 regDate;
        string make;
        string model;
        string frame;
        string details;
        address user_address;
    } 
    -->
            <table class="table table-sm table-striped table-hover table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Make</th>
                        <th scope="col">Model</th>
                        <th scope="col">Frame</th>
                        <th class="d-flex justify-content-end" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < bikes.length; i++) { %>
                        <tr>
                            <th scope="row">
                                <%= i %>
                            </th>
                            <td>
                                <%= encodeURIComponent(bikes[i][2]) %>
                            </td>
                            <td>
                                <%= encodeURIComponent(bikes[i][3]) %>
                            </td>
                            <td>
                                <%= encodeURIComponent(bikes[i][4]) %>
                            </td>
                            <td class="d-flex justify-content-end">
                                <form action="/show-details" method="get">
                                    <input type="hidden" name="bike_id" value="<%= bikes[i][0] %>">
                                    <input type="hidden" name="bike_make"
                                        value="<%= encodeURIComponent(bikes[i][2]) %>">
                                    <input type="hidden" name="bike_model"
                                        value="<%= encodeURIComponent(bikes[i][3]) %>">
                                    <input type="hidden" name="bike_frame"
                                        value="<%= encodeURIComponent(bikes[i][4]) %>">
                                    <input type="hidden" name="bike_details"
                                        value="<%= encodeURIComponent(bikes[i][5]) %>">
                                    <input type="hidden" name="currentMetaAcc" id="currentMetaAcc">
                                    <div class="float-start">
                                        <button class="btn btn-outline-secondary btn-sm" style="margin-bottom: 5px;"
                                            type="submit"><i class="bi bi-card-text"></i></button>
                                    </div>
                                </form>
                                <form action="/add-details" method="get">
                                    <input type="hidden" name="bike_id" value="<%= bikes[i][0] %>">
                                    <input type="hidden" name="bike_make"
                                        value="<%= encodeURIComponent(bikes[i][2]) %>">
                                    <input type="hidden" name="bike_model"
                                        value="<%= encodeURIComponent(bikes[i][3]) %>">
                                    <input type="hidden" name="bike_frame"
                                        value="<%= encodeURIComponent(bikes[i][4]) %>">
                                    <input type="hidden" name="bike_details"
                                        value="<%= encodeURIComponent(bikes[i][5]) %>">
                                    <input type="hidden" name="currentMetaAcc" id="currentMetaAcc">
                                    <div class="float-start">
                                        <button class="btn btn-outline-secondary btn-sm" style="margin-bottom: 5px;"
                                            type="submit"><i class="bi bi-plus-square"></i></button>
                                    </div>
                                </form>
                                <form action="/transfer-ownership" method="get">
                                    <input type="hidden" name="bike_id" value="<%= bikes[i][0] %>">
                                    <input type="hidden" name="bike_make"
                                        value="<%= encodeURIComponent(bikes[i][2]) %>">
                                    <input type="hidden" name="bike_model"
                                        value="<%= encodeURIComponent(bikes[i][3]) %>">
                                    <input type="hidden" name="bike_frame"
                                        value="<%= encodeURIComponent(bikes[i][4]) %>">
                                    <input type="hidden" name="bike_details"
                                        value="<%= encodeURIComponent(bikes[i][5]) %>">
                                    <input type="hidden" name="currentMetaAcc" id="currentMetaAcc">
                                    <div class="float-start">
                                        <button class="btn btn-outline-secondary btn-sm" style="margin-bottom: 5px;"
                                            type="submit"><i class="bi bi-arrow-return-right"></i></button>
                                    </div>
                                </form>
                                <form action="/renounce-ownership" method="get">
                                    <input type="hidden" name="bike_id" value="<%= bikes[i][0] %>">
                                    <input type="hidden" name="bike_make"
                                        value="<%= encodeURIComponent(bikes[i][2]) %>">
                                    <input type="hidden" name="bike_model"
                                        value="<%= encodeURIComponent(bikes[i][3]) %>">
                                    <input type="hidden" name="bike_frame"
                                        value="<%= encodeURIComponent(bikes[i][4]) %>">
                                    <input type="hidden" name="bike_details"
                                        value="<%= encodeURIComponent(bikes[i][5]) %>">
                                    <input type="hidden" name="currentMetaAcc" id="currentMetaAcc">
                                    <div class="float-start">
                                        <button class="btn btn-outline-danger btn-sm" style="margin-bottom: 5px;"
                                            type="submit"><i class="bi bi-file-excel"></i></button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <br><br>
        <% include static/footer %>
</body>
<% include static/scripts %>
    <script>
        var ethKey = null;
        (async function () {
            ethKey = await window.ethereum.request({ method: 'eth_requestAccounts' })
            let metaAcc = (await document.getElementById("currentMetaAcc"))
            metaAcc.value = ethKey[0]
        })()

        window.ethereum.on('accountsChanged', function (accounts) {
            window.location = "/logout";
        })

        window.ethereum.on('chainChanged', function (chainId) {
            window.location = "/logout";
        })
    </script>

</html>