<!DOCTYPE html>
<html>

<head>
    <% include static/header %>
</head>

<body>
    <% include static/menu %>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/management"">Management</a></li>
                    <li class=" breadcrumb-item active" aria-current="page">Renounce ownership</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col col-auto">
                    <h3 class="h3Title">
                        <%= page %>
                    </h3>
                </div>
            </div>
            <br>
            <form action="/renounce-ownership" method="post">
                <div class="row justify-content-center">
                    <div class="col col-lg-3">
                        <h4>Bike (<%= bike[3] %>)</h4>
                        <ul>
                            <li><span>Reg. date: </span>
                                <%= moment.unix(bike[0]).format('DD/MM/YYYY') %>
                            </li>
                            <li><span>Make: </span>
                                <%= bike[1] %>
                            </li>
                            <li><span>Model: </span>
                                <%= bike[2] %>
                            </li>
                            <li><span>Frame: </span>
                                <%= bike[3] %>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <br>
                            <h5 class="renounce">Do you want to renounce bike with frame: (<%= bike[3] %>)?</h5>
                            <input type="hidden" name="bike_id" value="<%= bike_id %>">
                        </div>
                        <div class="text-center" style="margin-top: 10px;">
                            <button type="submit" class="btn btn-danger btn-sm">Renounce</button>
                            <a href="/management" role="button" class="btn btn-warning btn-sm">Go back</button></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <% include static/footer %>
</body>
<% include static/scripts %>
</html>