<!DOCTYPE html>
<html>

<head>
    <% include static/header %>
</head>

<body>
    <% include static/menu %>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/management"">Management</a></li>
                    <li class=" breadcrumb-item active" aria-current="page">Renounce ownership</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col col-auto">
                    <h3 class="h3Title">
                        <%= page %>
                    </h3>
                </div>
                <div class="row justify-content-evenly show-details">
                    <div class="col-12 col-lg-2 d-none d-lg-block">
                        <div>
                            <h4>BIKE DETAILS</h4>
                            <hr>
                            <h5>REG. DATE</h5>
                            <p>
                                <%= moment.unix(bike[0]).format('DD/MM/YYYY') %>
                            </p>
                            <h5>MAKE</h5>
                            <p>
                                <%= bike[1] %>
                            </p>
                            <h5>MODEL</h5>
                            <p>
                                <%= bike[2] %>
                            </p>
                            <h5>FRAME</h5>
                            <p>
                                <%= bike[3] %>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 d-none d-lg-block">
                        <img src="images/renounce.png" class="img-fluid" style="width: auto; opacity: 0.1;">
                    </div>
                    <div class="col-12 col-lg-5">
                        <form action="/renounce-ownership" method="post">
                            <div class="form-group">
                                <h5 style="text-align: center;">Renounce bike with frame: (<%= bike[3] %>)?</h5>
                                <input type="hidden" name="bike_id" value="<%= bike_id %>">
                            </div>
                            <div class="text-center" style="margin-top: 20px;">
                                <button type="submit" class="btn btn-danger">Renounce</button>
                                <a href="/management" role="button" class="btn btn-warning">Go back</button></a>
                            </div>
                        </div>
                        <div class="col col-lg-2"></div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <% include static/footer %>
</body>
<% include static/scripts %>
<script>
    window.ethereum.on('accountsChanged', function (accounts) {
        window.location = "/logout";
    })

    window.ethereum.on('chainChanged', function (chainId) {
        window.location = "/logout";
    })
</script>
</html>