<!DOCTYPE html>
<html>

<head>
    <% include static/header %>
</head>

<body>
    <% include static/menu %>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/management"">Management</a></li>
                    <li class=" breadcrumb-item active" aria-current="page">Show details</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col col-auto">
                    <h3 class="h3Title">
                        <%= page %>
                    </h3>
                </div>
            </div>

            <div class="row justify-content-evenly show-details">
                <div class="col-12 col-lg-2">
                    <div>
                        <h4>BIKE DETAILS</h4>
                        <hr>
                        <h5>REG. DATE</h5>
                        <p>
                            <%= moment.unix(bike[0]).format('DD/MM/YYYY') %>
                        </p>
                        <h5>MAKE</h5>
                        <p>
                            <%= bike[1] %>
                        </p>
                        <h5>MODEL</h5>
                        <p>
                            <%= bike[2] %>
                        </p>
                        <h5>FRAME</h5>
                        <p>
                            <%= bike[3] %>
                        </p>
                        <hr>
                        <h4>OWNER</h4>
                        <hr>
                        <h5>NAME</h5>
                        <p>
                            <%= owner[0] %>
                        </p>
                        <h5>EMAIL</h5>
                        <p>
                            <%= owner[1] %>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 d-none d-lg-block">
                    <img src="images/bike-l.png" class="img-fluid" style="width: auto; opacity: 0.1;">
                </div>
                <div class="col-12 col-lg-6">

                    <h4>Historic details <span class="span-add-details">(<a
                                href="/add-details?bike_id=<%= bike_id %>">Add new</a>)</span></h4>

                    <% if (details.length !=0) { %>
                        <ul>
                            <% for(var i=0; i < details.length; i++) { %>
                                <li>
                                    <small>
                                        <%= moment.unix(details[i][1]).format('DD/MM/YYYY') %> - <%= details[i][2] %>
                                    </small>
                                </li>
                                <% } %>
                        </ul>
                        <% } else { %>
                            <p>No details added yet</p>
                            <% } %>
                </div>
            </div>
        </div>
        <br>
        <br>
    <% include static/footer %>
</body>
<% include static/scripts %>

</html>