<!DOCTYPE html>
<html>

<head>
    <% include static/header %>
</head>

<body>
    <% include static/menu %>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/management"">Management</a></li>
                    <li class=" breadcrumb-item active" aria-current="page">Transfer ownership</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col col-auto">
                    <h3 class="h3Title">
                        <%= page %>
                    </h3>
                </div>
            </div>
            <br>
            <div class="row justify-content-evenly">
                <div class="col-12 col-lg-2 d-none d-lg-block">
                    <div>
                        <h4>BIKE DETAILS</h4>
                        <hr>
                        <h5>REG. DATE</h5>
                        <p>
                            <%= moment.unix(bike[0]).format('DD/MM/YYYY') %>
                        </p>
                        <h5>MAKE</h5>
                        <p>
                            <%= bike[1] %>
                        </p>
                        <h5>MODEL</h5>
                        <p>
                            <%= bike[2] %>
                        </p>
                        <h5>FRAME</h5>
                        <p>
                            <%= bike[3] %>
                        </p>
                        <hr>
                        <h4>OWNER</h4>
                        <hr>
                        <h5>NAME</h5>
                        <p>
                            <%= owner[0] %>
                        </p>
                        <h5>EMAIL</h5>
                        <p>
                            <%= owner[1] %>
                        </p>
                    </div>
                </div>
                <div class="col-md-2 d-none d-lg-block">
                    <img src="images/transfer.png" class="img-fluid" style="width: auto; opacity: 0.1;">
                </div>
                <div class="col-12 col-lg-4">
                    <h5>Fill the form below to transfer ownership:</h5>
                    <form action="/transfer-ownership" method="post">
                        <div class="form-group">
                            <label class="lblInput" for="inputName">New Name:</label>
                            <input type="text" class="input-style form-control" name="inputName" id="inputName"
                                placeholder="Name..." required>
                        </div>
                        <div class="form-group">
                            <label class="lblInput" for="inputEmail">New Email:</label>
                            <input type="text" class="input-style form-control" name="inputEmail" id="inputEmail"
                                placeholder="Email..." required>
                        </div>
                        <div class="form-group">
                            <label class="lblInput" for="inputNewAddress">New Address:</label>
                            <input type="text" class="input-style form-control" name="inputNewAddress"
                                id="inputNewAddress" placeholder="e.g. 0xf13da1dBd190c4A839ECB674e08cfB82eA804222"
                                minlength="42" maxlength="42" required>
                            <div class="text-center" style="margin-top: 20px;">
                                <button type="submit" class="btn btn-secondary">Transfer</button>
                                <button type="reset" class="btn btn-warning">Reset</button>
                            </div>
                        </div>
                        <input type="hidden" name="bike_id" value="<%= bike_id %>">
                    </form>
                </div>
                <div class="col-12 col-md-2">
                    <ul>
                        <% if (errors!=null) { for(var i=0; i < errors.length; i++) { %>
                            <li class="text-danger">
                                <%= errors[i].msg %>
                            </li>
                            <% }}; %>
                    </ul>
                </div>
            </div>
            <br><br>
        </div>
        <% include static/footer %>
</body>
<% include static/scripts %>

</html>